<div class="transformations">

<h1>Transformation History</h1>

<% unless current_user.admin || current_user.transformations.any? %>
  <p> No transformations found. <%= link_to 'Create your first transformations now.', new_transformation_path %> </p>

<% else %>

  <table>
    <thead>
      <tr>
        <% if current_user.admin %>
          <th>ID</th>
        <% end %>
        <th>Name</th>
        <th>Description</th>
        <th>Created at</th>
        <th>Last Update</th>
        <th>Complete</th>
        <% if current_user.admin %>
          <th>User</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transformations.each do |transformation| %>
      <tr>
        <% if current_user.admin %>
          <td><%= transformation.id %></td>
        <% end %>
        <% if current_user.admin || current_user == transformation.user %>
          <td><%= transformation.name %></td>
          <td><%= transformation.description %></td>
          <td><%= transformation.created_at %></td>
          <td><%= transformation.updated_at %></td>
          <td><%= transformation.complete %></td>
        <% if current_user.admin %>
          <td><%= transformation.user.email %></td>
        <% end %>
        <td><%= link_to 'Show', transformation, class: "btn btn-primary btn-md" %></td>

        <% if current_user.admin %>
          <td><%= link_to 'Edit', edit_transformation_path(transformation), class: "btn btn-default btn-md" %></td>
          <td><%= link_to 'Delete', transformation, method: :delete, data: { confirm: 'Are you sure to delete this transformation?' }, class: "btn btn-default btn-md" %></td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if current_user.admin %>
    <%= link_to 'New Transformation', new_transformation_path, class: "btn btn-primary btn-md" %>
  <% end %>
<% end %>
<p></p>
<p><%= link_to 'Back', home_path, class: "btn btn-default btn-md" %></p>

</div>